@import "tailwindcss";

@layer base {
    h1 {
        @apply text-4xl! font-bold! leading-tight dark:text-slate-100 text-slate-800;
    }
    h2 {
        @apply text-3xl! font-semibold! leading-snug dark:text-slate-100 text-slate-800;
    }
    h3 {
        @apply text-2xl! font-semibold! leading-snug dark:text-slate-100 text-slate-800;
    }
    h4 {
        @apply text-xl! font-medium! leading-snug dark:text-slate-100 text-slate-800;
    }
    h5 {
        @apply text-lg! font-medium! leading-snug dark:text-slate-100 text-slate-800;
    }
    h6 {
        @apply text-base! font-medium! leading-snug dark:text-slate-100 text-slate-800;
    }
    p {
        @apply text-base! leading-relaxed dark:text-slate-100 text-slate-800;
    }
    strong {
        @apply font-bold! dark:text-slate-100 text-slate-800;
    }
    em {
        @apply italic dark:text-slate-100 text-slate-800;
    }
    blockquote {
        @apply border-l-4 border-gray-300 pl-4 italic dark:text-slate-200 text-slate-700;
    }
}

@theme {
    --color-primary-50: #f8fee7;
    --color-primary-100: #effccb;
    --color-primary-200: #dff99d;
    --color-primary-300: #c7f264;
    --color-primary-400: #a8e425;
    --color-primary-500: #90cc16;
    --color-primary-600: #6fa30d;
    --color-primary-700: #547c0f;
    --color-primary-800: #446212;
    --color-primary-900: #3a5314;
    --color-primary-950: #1d2e05;

    --color-secondary-50: #f6f7f8;
    --color-secondary-100: #ebecee;
    --color-secondary-200: #d9dcde;
    --color-secondary-300: #c4c9cc;
    --color-secondary-400: #a7aeb3;
    --color-secondary-500: #92999f;
    --color-secondary-600: #81878f;
    --color-secondary-700: #747981;
    --color-secondary-800: #61666c;
    --color-secondary-900: #505358;
    --color-secondary-950: #333538;

    --text-xs: 0.75rem;
    --text-xs--line-height: calc(1 / 0.75);
    --text-sm: 0.875rem;
    --text-sm--line-height: calc(1.25 / 0.875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --text-lg: 1.125rem;
    --text-lg--line-height: calc(1.75 / 1.125);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --text-4xl: 2.25rem;
    --text-4xl--line-height: calc(2.5 / 2.25);
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --text-9xl: 8rem;
    --text-9xl--line-height: 1;

    ----font-*: initial;

    --font-weight-*: initial;
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
}
